/** Style reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** Style de la page */
*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #add9e6;
}
header h2{
    font-weight: 600;
    padding: 10px 20px;
}
header a{
    color: #000000;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

header a:hover{
    background-color: #44b1d2;
}
main{
    padding: 20px;
}
h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0.5em 0 1em;
}
main h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1em 0 1em;
}
main p{
    margin-bottom: 1.5em;
}
@media (min-width: 768px) {
    .container{
        width: 768px;
        margin: auto;
    }

    header h2{
        display: inline-block;
    }
    header nav{
        float: right;
    }
    header li{
        display: inline-block;
    }
}

